<div class="popular-posts">
    <span>Popular posts
    </span>
    <div class="item">
        <div class="title">Welcome to wfwefewfwef ewfwfwfwf Addiction !</div>
    </div>
    <div class="item">
        <div class="title">Welcome to Addiction !</div>
    </div>
</div>
