.read-more-btn{
    margin:2%;
    display:block;
    text-align:center;
    color:gray;
    padding:5px 10px;
    border-radius:3px;
    border:1px solid #4ECDC4;
    
}

.read-more-btn:hover,.pager-block  li  a:hover{
    color:white;
    background-color:#4ECDC4;
}

